@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
	font-family: 'Roboto', sans-serif;
	color: #333333;
}

#news-container {
  display: flex;
  flex-direction: column;
}

.date, .source, .category {
    display: inline-block;
    border:0;
	font-size: 12px;
}

.source, .category {
    margin-left: 5px;
}

@keyframes new {
    from {background-color: #90EE90;}
    to {background-color: white;}
}

.new {
    background-color: white;
    animation-name: new;
    animation-duration: 10s;
}

.item {
    margin-bottom: 4px;
	padding: 4px;
}

a, a:visited, a:hover {
    text-decoration: none;
    font-weight: bold;
	font-size: 14px;
	color: #333333;
}
