{{ define "menu_en" }}
<a href="#menu" id="menuLink" class="menu-link">
	<span></span>
</a>

<div id="menu">
	<div class="pure-menu">
		<a class="pure-menu-heading" href="/en" hreflang="en">Uutispuro</a>
		<ul class="pure-menu-list">
			<li class="pure-menu-item"><a href="/fi" class="pure-menu-link" hreflang="fi">Suomi</a></li>
			<li class="pure-menu-item"><a class="pure-menu-link" href="/en">English</a></li>
		</ul>
		<ul class="pure-menu-list">
			<li class="pure-menu-item"><a href="/en/category/talous/0" class="pure-menu-link" hreflang="en">Economy</a></li>
			<li class="pure-menu-item"><a href="/en/category/digi/0" class="pure-menu-link" hreflang="en">Digital media</a></li>
			<li class="pure-menu-item"><a href="/en/category/pelit/0" class="pure-menu-link" hreflang="en">Games</a></li>
			<li class="pure-menu-item"><a href="/en/category/terveys/0" class="pure-menu-link" hreflang="en">Health</a></li>
			<li class="pure-menu-item"><a href="/en/category/kotimaa/0" class="pure-menu-link" hreflang="en">Domestic</a></li>
			<li class="pure-menu-item"><a href="/en/category/ulkomaat/0" class="pure-menu-link" hreflang="en">Foreign</a></li>
			<li class="pure-menu-item"><a href="/en/category/kulttuuri/0" class="pure-menu-link" hreflang="en">Culture</a></li>
			<li class="pure-menu-item"><a href="/en/category/urheilu/0" class="pure-menu-link" hreflang="en">Sports</a></li>
			<li class="pure-menu-item"><a href="/en/category/viihde/0" class="pure-menu-link" hreflang="en">Entertainment</a></li>
			<li class="pure-menu-item"><a href="/en/category/elokuvat/0" class="pure-menu-link" hreflang="en">TV and movies</a></li>
			<li class="pure-menu-item"><a href="/en/category/tiede/0" class="pure-menu-link" hreflang="en">Science</a></li>
			<li class="pure-menu-item"><a href="/en/category/ruoka/0" class="pure-menu-link" hreflang="en">Food</a></li>
			<li class="pure-menu-item"><a href="/en/category/matkustus/0" class="pure-menu-link" hreflang="en">Travel</a></li>
			<li class="pure-menu-item"><a href="/en/category/koti%20ja%20asuminen/0" class="pure-menu-link" hreflang="en">Home and living</a></li>
			<li class="pure-menu-item"><a href="/en/category/muoti/0" class="pure-menu-link" hreflang="en">Fashion</a></li>
		</ul>
		<ul class="pure-menu-list">
			<li class="pure-menu-item"><a href="/en/category/blogit/0" class="pure-menu-link" hreflang="en">Blogs</a></li>
		</ul>
	</div>
</div>
{{ end }}
