{{ define "menu_fi" }}
<a href="#menu" id="menuLink" class="menu-link">
	<span></span>
</a>

<div id="menu">
	<div class="pure-menu">
		<a class="pure-menu-heading" href="/fi" hreflang="fi">Uutispuro</a>
		<ul class="pure-menu-list">
			<li class="pure-menu-item"><a href="/fi" class="pure-menu-link" hreflang="fi">Suomi</a></li>
			<li class="pure-menu-item"><a class="pure-menu-link" href="/en" hreflang="en">English</a></li>
		</ul>
		<ul class="pure-menu-list">
			<li class="pure-menu-item"><a href="/fi/category/talous/0" class="pure-menu-link" hreflang="fi">Talous</a></li>
			<li class="pure-menu-item"><a href="/fi/category/digi/0" class="pure-menu-link" hreflang="fi">Digi</a></li>
			<li class="pure-menu-item"><a href="/fi/category/pelit/0" class="pure-menu-link" hreflang="fi">Pelit</a></li>
			<li class="pure-menu-item"><a href="/fi/category/terveys/0" class="pure-menu-link" hreflang="fi">Terveys</a></li>
			<li class="pure-menu-item"><a href="/fi/category/kotimaa/0" class="pure-menu-link" hreflang="fi">Kotimaa</a></li>
			<li class="pure-menu-item"><a href="/fi/category/ulkomaat/0" class="pure-menu-link" hreflang="fi">Ulkomaat</a></li>
			<li class="pure-menu-item"><a href="/fi/category/kulttuuri/0" class="pure-menu-link" hreflang="fi">Kulttuuri</a></li>
			<li class="pure-menu-item"><a href="/fi/category/urheilu/0" class="pure-menu-link" hreflang="fi">Urheilu</a></li>
			<li class="pure-menu-item"><a href="/fi/category/viihde/0" class="pure-menu-link" hreflang="fi">Viihde</a></li>
			<li class="pure-menu-item"><a href="/fi/category/elokuvat/0" class="pure-menu-link" hreflang="fi">Elokuvat</a></li>
			<li class="pure-menu-item"><a href="/fi/category/tiede/0" class="pure-menu-link" hreflang="fi">Tiede</a></li>
			<li class="pure-menu-item"><a href="/fi/category/ruoka/0" class="pure-menu-link" hreflang="fi">Ruoka</a></li>
			<li class="pure-menu-item"><a href="/fi/category/matkustus/0" class="pure-menu-link" hreflang="fi">Matkustus</a></li>
			<li class="pure-menu-item"><a href="/fi/category/koti%20ja%20asuminen/0" class="pure-menu-link" hreflang="fi">Koti ja asuminen</a></li>
			<li class="pure-menu-item"><a href="/fi/category/muoti/0" class="pure-menu-link" hreflang="fi">Muoti</a></li>
		</ul>
		<ul class="pure-menu-list">
			<li class="pure-menu-item"><a href="/fi/category/blogit/0" class="pure-menu-link" hreflang="fi">Blogit</a></li>
		</ul>
	</div>
</div>
{{ end }}
