{{ define "menu_en" }}
<a href="#menu" id="menuLink" class="menu-link">
	<span></span>
</a>

<div id="menu">
	<div class="pure-menu">
		<a class="pure-menu-heading" href="/en">Uutispuro</a>
		<ul class="pure-menu-list">
			<li class="pure-menu-item"><a href="/fi" class="pure-menu-link">Suomi</a></li>
			<li class="pure-menu-item"><a class="pure-menu-link" href="/en">English</a></li>
		</ul>
		<ul class="pure-menu-list">
			<li class="pure-menu-item"><a href="/en/category/talous/0" class="pure-menu-link">Economy</a></li>
			<li class="pure-menu-item"><a href="/en/category/digi/0" class="pure-menu-link">Digital media</a></li>
			<li class="pure-menu-item"><a href="/en/category/terveys/0" class="pure-menu-link">Health</a></li>
			<li class="pure-menu-item"><a href="/en/category/kotimaa/0" class="pure-menu-link">Domestic</a></li>
			<li class="pure-menu-item"><a href="/en/category/ulkomaat/0" class="pure-menu-link">Foreign</a></li>
			<li class="pure-menu-item"><a href="/en/category/kulttuuri/0" class="pure-menu-link">Culture</a></li>
			<li class="pure-menu-item"><a href="/en/category/urheilu/0" class="pure-menu-link">Sports</a></li>
			<li class="pure-menu-item"><a href="/en/category/viihde/0" class="pure-menu-link">Entertainment</a></li>
			<li class="pure-menu-item"><a href="/en/category/elokuvat/0" class="pure-menu-link">TV and movies</a></li>
			<li class="pure-menu-item"><a href="/en/category/tiede/0" class="pure-menu-link">Science</a></li>
			<li class="pure-menu-item"><a href="/en/category/ruoka/0" class="pure-menu-link">Food</a></li>
			<li class="pure-menu-item"><a href="/en/category/matkustus/0" class="pure-menu-link">Travel</a></li>
			<li class="pure-menu-item"><a href="/en/category/asuminen/0" class="pure-menu-link">Home and living</a></li>
			<li class="pure-menu-item"><a href="/en/category/naisetjamuoti/0" class="pure-menu-link">Women and fashion</a></li>
		</ul>
		<ul class="pure-menu-list">
			<li class="pure-menu-item"><a href="/en/category/blogs/0" class="pure-menu-link">Blogs</a></li>
		</ul>
	</div>
</div>
{{ end }}
