{{ define "scripts" }}
	<script async src="/public/js/moment.2.10.6.js" type="application/javascript"></script>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	{{ scripttag "public/js/uutispuro.js" }}
	<script>
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-2171875-4']);
		_gaq.push(['_trackPageview']);
		(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
{{ end }}
