{{define "source_en"}}<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, user-scalable=no" />
	{{ linktag "public/css/uutispuro.css" }}
	<meta name="description" content="{{ .CategoryEnName }} - Latest news from rss feeds - www.uutispuro.fi" />
	{{ template "header_icons" }}
	<link rel="alternate" hreflang="en" href="/en/category/{{ .Category }}" />
	<meta name="msapplication-TileColor" content="#ffffff" />
	<meta name="msapplication-TileImage" content="/public/img/mstile-144x144.png" />
	<meta property="http://ogp.me/ns#type" content="website" />
	<meta property="http://ogp.me/ns#title" content="{{ .Category }} - Uutispuro" />
	<meta property="http://ogp.me/ns#image" content="/public/img/uutispuro_logo_small.gif" />
	<meta property="http://ogp.me/ns#url" content="https://www.uutispuro.fi/en/{{ .Category }}" />
	<meta property="http://ogp.me/ns/fb#app_id" content="222039191163874" />
	<title>{{ .CategoryEnName }} - Latest news from rss feeds</title>
</head>
<body>
	<div id="layout">
		{{ template "menu_en" }}

		<div id="main">
			{{ template "top_bar" . }}
			<h1 class="searchTitle">
				{{ .CategoryEnName }}
			</h1>
		    <div id="news-container" class="flex-display flex-direction-col">
		       	{{ range .RSS }}
		            <div class="item">
		                <div class="date">{{ .PubDate.Local.Format "02.01. 15:04" }}</div><!--
					 --><div class="source">{{ .RssSource }}</div><!--
				  	 --><div class="category"><a href="/en/category/{{ toLower .Category.CategoryName }}/0">{{ .Category.CategoryEnName }}</a></div>
		                <div class="link">
		                   <a class="itemClick" target="_blank" id="{{ .Id.Hex }}" href="{{ .RssLink }}">{{ .RssTitle }}</a>
		                </div>
		           </div>
		       	{{end}}
		   	</div>
		</div>
	   	<div class="paging">
		   {{ if gt .Page 0 }}<span class="prev"><a href="/fi/category/{{ toLower .Category }}/{{ minus .Page 1 }}">Previous</a></span>{{ end }}
		   {{ if lt .Page 1 }}<span class="light">Previous</span>{{ end }}
		   {{ if and (lt .Page 100) (eq .ResultCount 30) }}<span class="next"><a href="/fi/category/{{ toLower .Category }}/{{ add .Page 1 }}">Next</a></span>{{ end }}
		   {{ if or (gt .Page 99) (lt .ResultCount 30) }}<span class="light">Next</span>{{ end }}
		</div>
	   	{{ template "footer" }}
	</div>
</body>
</html>
{{end}}
