{{ define "top_bar" }}
	<div class="head flex-display justify-end">
		<div class="search">
			<form action="/{{ .Lang }}/search" method="get">
				<input type="text" name="q" placeholder="Search..."/>
			</form>
		</div>
	</div>
{{ end }}
